.nav {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #f9f9fa;
  padding: 20px 50px;
  box-sizing: border-box;
  border-top: 1px solid #e5e5e5;
}

.nav__list {
  display: flex;
  justify-content: space-between;
}

.nav__link {
  color: #2f363e;
  position: relative;
}

.nav__chatNotification {
  position: absolute;
  left: 15px;
  bottom: 15px;
}

.nav__dotNotification {
  background-color: tomato;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  display: block;
  position: absolute;
  left: 25px;
  bottom: 25px;
}
